.header {
    height: 75px;
    gap: 0px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 231px;
    padding-right: 240px;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 26px;
    margin-bottom: 20px;
    gap: 33px;
}

.main {
    background: #F1E4E6;
    display: flex;
    gap: 63px;
}

.offer {
    margin-top: 65px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: center;
    justify-items: center;
}

.products__header {
    grid-column: 1 / 4;
    display: grid;
    justify-content: center;
}

.products__info {
    grid-column: 1 / 4;
    display: grid;
    justify-content: center;
}

.item {
    background: #F8F8F8;
    ;

}

.items__button {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
    width: 212px;
    height: 48px;
    gap: 0px;
    align-items: center;
    color: #F26376;
    border-color: #FF6A6A;
}
